# OSX
.DS_Store

# intellij settings
.idea
*.iml

# gradle settings and plugins
.gradle
gradle
gradlew*
settings.gradle

# tmp files
*~

# svd files
*#

# compiled files
*.class
out

# unwanted files
*.xml
*.pom

# not ready
fsm
Tester.java
OldDriver.java

# git script
push