# OSX
.DS_Store

# intellij settings
.idea
*.iml

# gradle settings and plugins
.gradle
gradle
gradlew*
settings.gradle

# tmp files
*~

# svd files
*#

# compiled files
*.class

# unwanted files
*.xml
*.pom


# git script
push